<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" packages="ru.otus">
    <Properties>
        <Property name="COLORED_LOG_PATTERN">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{[%15.15t]}{faint} %clr{%-15.15c{1.}}{cyan} %clr{:}{faint}%m%n%xwEx</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${COLORED_LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ru.otus" level="debug" />
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
